OWM_URL=owm_url
OWM_GEO_URL=owm_geo_url
OWM_API_KEY=owm_api_key
GOOGLE_MAPS_API_KEY=google_maps_api_key
APPWRITE_URL=appwrite_url
APPWRITE_API_KEY=appwrite_api_key
APPWRITE_PROJECT_ID=appwrite_project_id